[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "harbor"]
	path = harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "growplycom"]
	path = growplycom
	url = git@github.com:Dluxo/Growplycom.git
